[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-new-geometric",
    "body": {
      "time": "2016-01-01T00:00:00.000Z",
      "value": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -2.6156582783015017,
                54.3497405310758
              ]
            }
          },
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -6.731370299641439,
                55.856756177781186
              ]
            }
          }
        ]
      }
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-new-geometric.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "584fd712ea094e000444c879"
      },
      "name": "my-new-geometric",
      "time": "2016-01-01T00:00:00.000+00:00",
      "value": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -2.6156582783015017,
                54.3497405310758
              ]
            }
          },
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -6.731370299641439,
                55.856756177781186
              ]
            }
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]