[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-new-metric/increment/1",
    "body": "",
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-new-metric.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "5852757d3aca3c0004f45bb0"
      },
      "name": "my-new-metric",
      "time": "2016-12-15T10:50:37.043+00:00",
      "value": 1
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]