[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-new-metric",
    "body": {
      "time": "2016-12-23T00:00:00.000+00:00",
      "value": 123
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-new-metric.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "584fd711ea094e000444c875"
      },
      "name": "my-new-metric",
      "time": "2016-12-23T00:00:00.000+00:00",
      "value": 123
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]