[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-new-multiple-metric",
    "body": {
      "time": "2016-01-01T00:00:00.000Z",
      "value": {
        "total": {
          "value1": 123,
          "value2": 23213,
          "value4": 1235
        }
      }
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-new-multiple-metric.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "584fd95fea094e000444c87b"
      },
      "name": "my-new-multiple-metric",
      "time": "2016-01-01T00:00:00.000+00:00",
      "value": {
        "total": {
          "value1": 123,
          "value2": 23213,
          "value4": 1235
        }
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]