[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-new-target-metric",
    "body": {
      "time": "2016-01-01T00:00:00.000Z",
      "value": {
        "actual": 123,
        "annual_target": 345,
        "ytd_target": 130
      }
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-new-target-metric.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "584fd711ea094e000444c877"
      },
      "name": "my-new-target-metric",
      "time": "2016-01-01T00:00:00.000+00:00",
      "value": {
        "actual": 123,
        "annual_target": 345,
        "ytd_target": 130
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]