[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/simple-metric/2016-11-12T14:29:37+00:00/2016-12-12T14:29:37+00:00.json",
    "body": "",
    "status": 200,
    "response": {
      "count": 4,
      "values": [
        {
          "time": "2016-12-09T11:07:20.526+00:00",
          "value": 21
        },
        {
          "time": "2016-12-10T11:07:20.500+00:00",
          "value": 2
        },
        {
          "time": "2016-12-11T11:07:20.458+00:00",
          "value": 13
        },
        {
          "time": "2016-12-12T11:07:20.433+00:00",
          "value": 66
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]