[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-metric-for-increment",
    "body": {
      "time": "2016-01-01T00:00:00.000Z",
      "value": 123
    },
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "POST",
    "path": "/metrics/my-metric-for-increment/increment/1",
    "body": "",
    "status": 201,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "text/html;charset=utf-8"
    ]
  },
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics/my-metric-for-increment.json",
    "body": "",
    "status": 200,
    "response": {
      "_id": {
        "$oid": "5852757d3aca3c0004f45bb3"
      },
      "name": "my-metric-for-increment",
      "time": "2016-12-15T10:50:37.416+00:00",
      "value": 124
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]