[
  {
    "scope": "https://demo.bothan.io:443",
    "method": "GET",
    "path": "/metrics.json",
    "body": "",
    "status": 200,
    "response": {
      "metrics": [
        {
          "name": "metric-with-geodata",
          "url": "https://demo.bothan.io/metrics/metric-with-geodata.json"
        },
        {
          "name": "metric-with-multiple-values",
          "url": "https://demo.bothan.io/metrics/metric-with-multiple-values.json"
        },
        {
          "name": "metric-with-target",
          "url": "https://demo.bothan.io/metrics/metric-with-target.json"
        },
        {
          "name": "metric-with-ytd-target",
          "url": "https://demo.bothan.io/metrics/metric-with-ytd-target.json"
        },
        {
          "name": "simple-metric",
          "url": "https://demo.bothan.io/metrics/simple-metric.json"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]